@font-face {
    font-family: 'Avenir85HeavyRegular';
    src: url('../fonts/avenir-heavy-webfont.eot');
    src: url('../fonts/avenir-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-heavy-webfont.woff') format('woff'),
         url('../fonts/avenir-heavy-webfont.ttf') format('truetype'),
         url('../fonts/avenir-heavy-webfont.svg#Avenir85HeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/avenir_65_medium-webfont.eot');
    src: url('../fonts/avenir_65_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_65_medium-webfont.woff') format('woff'),
         url('../fonts/avenir_65_medium-webfont.ttf') format('truetype'),
         url('../fonts/avenir_65_medium-webfont.svg#AvenirMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Avenir45BookRegular';
    src: url('../fonts/avenir-book-webfont.eot');
    src: url('../fonts/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-book-webfont.woff') format('woff'),
         url('../fonts/avenir-book-webfont.ttf') format('truetype'),
         url('../fonts/avenir-book-webfont.svg#Avenir45BookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaRoman';
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot');
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman-webfont.svg#HelveticaNeueLTStd55Roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticalight';
    src: url('../fonts/helveticalight-webfont.eot');
    src: url('../fonts/helveticalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticalight-webfont.woff') format('woff'),
         url('../fonts/helveticalight-webfont.ttf') format('truetype'),
         url('../fonts/helveticalight-webfont.svg#WebfontRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-BoldRegular';
    src: url('../fonts/ufonts.com_helvetica-bold-webfont.eot');
    src: url('../fonts/ufonts.com_helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_helvetica-bold-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_helvetica-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CronosProSubheadBold';
    src: url('../fonts/cronospro_boldsubh-webfont.eot');
    src: url('../fonts/cronospro_boldsubh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro_boldsubh-webfont.woff') format('woff'),
         url('../fonts/cronospro_boldsubh-webfont.ttf') format('truetype'),
         url('../fonts/cronospro_boldsubh-webfont.svg#CronosProSubheadBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'CronosProCaptionRegular';
    src: url('../fonts/cronospro_capt-webfont.eot');
    src: url('../fonts/cronospro_capt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro_capt-webfont.woff') format('woff'),
         url('../fonts/cronospro_capt-webfont.ttf') format('truetype'),
         url('../fonts/cronospro_capt-webfont.svg#CronosProCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	padding:0;
	margin:0;		
	height:100%;
	width:100%;
}
#main_wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
}
#backgroundImage, 
#backgroundImage table, 
#backgroundImage td 		{height: 100%; overflow: hidden; width: 100%;}
#backgroundImage			{position:relative;}
#fullscreen	{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-200;
}
#backgroundImage div { 
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
  z-index: -200;
}

#backgroundImage td {
  text-align: center;
  vertical-align: middle;
}

#backgroundImage img {
  margin: 0 auto;
  min-height: 50%;
  min-width: 50%;
  -ms-interpolation-mode: bicubic;
}

	#prevslide, #nextslide{
	position:fixed;
	height:82px;
	width:57px;
	top:50%;
	margin-top:-21px;
}
	#prevslide{
	left:0px;
	background-image: url(../img/arrow_left.png);
}
	#nextslide{
	right:0px;
	background-image: url(../img/arrow_rigth.png);
}

/* GENERAL */

.fullBg {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

#header {
	background-color: #000;
	height: 50px;
	width: 100%;
	position: relative;
	-webkit-box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    4px 4px 19px rgba(0, 0, 0, 0.38);
	box-shadow:         4px 4px 19px rgba(0, 0, 0, 0.38);
}
#logo {
	background-image: url(../img/logo_viajes.jpg);
	height: 80px;
	width: 119px;
	position: absolute;
	left: 40px;
	top: 0px;
	-webkit-box-shadow: 7px 7px 24px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    7px 7px 24px rgba(0, 0, 0, 0.35);
	box-shadow:         7px 7px 24px rgba(0, 0, 0, 0.35);
	z-index: 1000;
}
#header .planes {
	color: #FFF;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 20px;
	margin-right: 0px;
	position: relative;
	height: 30px;
	cursor: pointer;
}
.menu {
	background-image: url(../img/bg_menu.png);
	background-repeat: repeat;
	border: 1px solid #FFF;
	position: absolute;
	top: 30px;
	list-style-type: none;
	right: -20px;
	-webkit-box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    1px 1px 24px rgba(0, 0, 0, 0.38);
	box-shadow:         1px 1px 24px rgba(0, 0, 0, 0.38);
	z-index: 800;
	display: none;
	width: 840px;
	padding-top: 10px;

}
#header .planes:hover .menu, #header .planes .menu:hover{
	display: block;
}
.flecha_menu {
	background-image: url(../img/flecha_menu.jpg);
	height: 7px;
	width: 11px;
	position: absolute;
	top: -7px;
	right: 70px;
}
.menu .item_menu {
	float: left;
	width: 154px;
	margin-top: 20px;
	margin-left: 45px;
	padding-bottom: 15px;
}
.line1 {
	background:url(../img/dotted_line.jpg) repeat-x bottom

}
.line2 {
	background:url(../img/dotted_line2.jpg) repeat-x bottom
}
.menu .item_menu li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-transform: uppercase;
	list-style-image: url(../img/vineata1.png);
	margin-bottom: 3px;
	float: left;
	clear: both;
	width: 134px;
}
.tit_menu {
	margin-left: 20px !important;
}
.item_submenu {
	margin-left: 0px !important;
}
.menu .item_menu li ul li a {
	color: #9b9b9b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
.item_menu li ul li {
	list-style-image: url(../img/vineata2.png) !important;
}
.menu ul li ul {
	margin-top: 8px;
	float: left;
}
.menu ul li ul li a:hover{
	color: #86b62a !important;
	text-decoration:underline;
}
.content1 {
	background-image: url(../img/bg_content.png);
	width: 318px;
	float: left;
	margin-left: 8%;
	-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 30px rgba(0, 0, 0, 1);
	padding-top: 55px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 14px;
	margin-bottom: 30px;
	z-index: 200;
}
#header_inner {
	width: 92%;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}
.content {
	width: 1000px;
	position:relative;
	overflow: hidden;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
.content_descarga {
	width: 1000px;
	height:100%;
	position:relative;
	overflow: hidden;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
.content .texto_home1 {
	height: 115px;
	width: 308px;
	position: absolute;
	top: 40px;
	right: 0px;
	font-family: Avenir85HeavyRegular, arial;
	font-size: 42px;
	color: #FFF;
	text-align: right;
	line-height: 38px;
	text-transform: uppercase;
	-moz-text-shadow: 1px 1px 3px rgba(60, 60, 60, 1);
	-webkit-text-shadow: 1px 1px 3px rgba(60, 60, 60, 1);
	text-shadow: 1px 1px 3px rgba(60, 60, 60, 1);
}
.content .texto_home2 {
	background-image: url(../img/logo_viajes2.png);
	height: 29px;
	width: 276px;
	position: absolute;
	right: 0px;
	bottom: 80px;
}
.footer {
	font-family: arial;
	font-size: 10px;
	text-transform: uppercase;
	color: #dedede;
	height: 30px;
	width: 100%;
	left: 0px;
	bottom: 0px;
	text-align: center;
	padding-top: 20px;
	background-color:#000;
	clear: both;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
.content1 h1 {
	font-family: Avenir45BookRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	background-image: url(../img/flecha_h1_home.png);
	background-position: left center;
	padding-left: 15px;
	background-repeat: no-repeat;
	width: 280px;
	float: left;
	font-size: 26px;
	color: #8dc63f;
	font-weight: normal;
	margin-left: 15px;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	margin-bottom: 30px;
}
.content1 h1 span {
	font-family: Avenir85HeavyRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.destino_home  {
	font-weight: normal;
	text-transform: uppercase;
	color: #313131;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	float: left;
	text-decoration: none;
	width: 130px;
	margin-bottom: 4px;
	padding-left: 5px;
	margin-left: 5px;
}
.imgs_plan_home  {
	font-weight: normal;
	text-transform: uppercase;
	color: #313131;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	float: left;
	text-decoration: none;
	width: 320px;
	margin-bottom: 20px;
}
.imgs_plan_home img {
	border: 1px solid #FFF;
	float: left;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.38);
	box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.38);
	margin: 2px;
}
.content1 h3 {
	font-family: AvenirMedium, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 19px;
	color: #212121;
	clear: both;
	float: left;
	width: 260px;
	/* [disabled]text-transform: uppercase; */
	padding-left: 15px;
	padding-top: 5px;
}
.content1 #form1 {
	float: left;
	padding-left: 10px;
}
#conoce_mas {
	background-image: url(../img/bot_conoce_mas.png);
	float: left;
	height: 48px;
	width: 255px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #5D9D37;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	margin-left: 15px;
	position: relative;
}
#solicita_plan {
	background-image: url(../img/bot_solicitar_plan.png);
	height: 46px;
	width: 256px;
	color: #E68319;
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	clear: both;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	position: relative;
}
.content .conoce_mas, .content .formulario, .content .mail_confirmation {
	width: 526px;
	float: left;
	background-image: url(../img/bg_content.png);
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999;
	position: relative;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}

/* TABS */

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
	overflow: hidden;
}
#tabs .list-wrap {
	padding: 10px;
	overflow: hidden;
	width: 490px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	background-image: url(../img/bg_tabs.png);
	background-repeat: repeat-x;
	background-position: top;
}

#tabs ul {
	list-style: none;
}
#tabs .nav { overflow: hidden; }
#tabs .nav li {
	width: 167px;
	float: left;
}
#tabs .nav li.last { margin-right: 0; }
#tabs .nav li a {
	display: block;
	background: url(../img/tab_unselected.png);
	color: #999;
	font-size: 11px;
	text-align: center;
	border: 0;
	font-family: AvenirMedium, arial;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 5px;
}
#tabs li a.current,#tabs li a.current:hover {
	background: url(../img/tab_selected.png) !important;
	color: #666;
}
#tabs .nav li a:hover, #tabs .nav li a:focus { background: url(../img/tab_selected.png);}#tabs {
	width: 508px;
	overflow: hidden;
	clear: both;
	float: left;
}
.descargar_imagen {
	background-image: url(../img/bg_content.png);
	background-repeat: repeat;
	height: 172px;
	width: 249px;
	position: absolute;
	left: 78px;
	bottom: 0px;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.descargar_imagen h2 {
	font-family: AvenirMedium, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 22px;
	color: #212121;
	text-transform: uppercase;
	background-image: url(../img/flecha_h1_home.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	letter-spacing: -0.05em;
}
.descargar_imagen .button_lines .button {
	background-image: url(../img/bot_info.png);
	background-repeat: no-repeat;
	float: left;
	height: 47px;
	width: 255px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #D17512;
	cursor: pointer;
}
.descargar_imagen .button_lines {
	background-image: url(../img/bg_bot.png);
	background-repeat: repeat-x;
	height: 47px;
	padding-top: 15px;
	padding-bottom: 16px;
	margin-top: 16px;
}
.descargar_imagen .link_descargar {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 10px;
	color: #444343;
	background-image: url(../img/ico_camara.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 35px;
	height: 25px;
	padding-top: 10px;
	margin-top: 15px;
	display:block;
	text-decoration: none;
}
.wrapper_descarga {
	width: 784px;
	height: 279px;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
}
.img_1 {
	float: left;
	width: 218px;
	display: block;
	margin-right: 15px;
	margin-top: 49px;
}
.img_2 {
	float: left;
	width: 252px;
	display: block;
	margin-right: 15px;
	margin-top: 23px;
}
.img_3 {
	float: left;
	width: 281px;
	display: block;
	margin-right: 0px;
}
.wrapper_descarga .img_1 img, .wrapper_descarga .img_2 img, .wrapper_descarga .img_3 img {
	border: 1px solid #FFF;
	margin-bottom: 10px;
}
.wrapper_descarga .img_1 span, .wrapper_descarga .img_2 span,.wrapper_descarga .img_3 span {
	clear:both;

}
.wrapper_descarga .img_1 .bot_descargar2, .wrapper_descarga .img_2 .bot_descargar2, .wrapper_descarga .img_3 .bot_descargar2 {
	background-image: url(../img/bot_descargar.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 102px;
	clear: both;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.content .content1 ul li {
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 12px;
	color: #474747;
	line-height: 16px;
	padding-bottom: 4px;
}
.content .content1 ul {
	width: 250px;
	float: left;
	list-style-position: outside;
	list-style-image: url(../img/vineata2.png);
	padding-left: 25px;
	padding-bottom: 5px;
}
.content .content1 h4 {
	font-family: Avenir45BookRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 16px;
	color: #717171;
	background-image: url(../img/vineata1.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 15px;
	float: left;
	width: 280px;
	margin-top: 15px;
	margin-bottom: 4px;
	text-transform: uppercase;
	margin-left: 15px;
	clear: both;
	line-height: 16px;
}
.numero_cuotas {
	font-size: 18px;
	font-weight: bold;
}
.precio_cuotas {
	font-size: 22px;
	font-weight: bold;
}
.cuotas {
	float: left;
	color: #72b958;
	clear: both;
	margin-top: 10px;
	font-size: 15px;
	font-family: AvenirMedium, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	width: 250px;
	background-image: url(../img/dotted_line2.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 15px;
	margin-left: 15px;
}
 .content1 img {
	margin-left: 6px;
}
 .content1 .desde {
	float: left;
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #999999;
	clear: both;
	font-size: 10px;
	text-transform: uppercase;
	margin-left: 15px;
	margin-top: 5px;
}
 .content1 .precio {
	font-family: Avenir85HeavyRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #6bac45;
	font-size: 40px;
	clear: both;
	float: left;
	margin-left: 15px;
}
.content1 .noches {
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 22px;
	text-transform: uppercase;
	color: #666666;
	clear: both;
	float: left;
	margin-left: 15px;
}
.content1 .impuestos {
	color: #666;
	font-family: AvenirMedium, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 11px;
	text-transform: uppercase;
	clear: both;
	float: left;
	margin-left: 15px;
}
 .precio .moneda {
	font-size: 20px;
	margin-bottom: 10px;
	float: left;
}
 .linea_punteada {
	clear: both;
	float: left;
	width: 270px;
	margin-left: 15px;
	height: 1px;
	background-image: url(../img/dotted_line2.jpg);
	background-repeat: repeat-x;
}
.content1 .bot_recomendar {
	background-image: url(../img/bot_recomendar.png);
	background-repeat: no-repeat;
	float: left;
	height: 19px;
	width: 83px;
	margin-right: 10px;
}
.content1 .social {
	clear: both;
	float: left;
	height: 20px;
	width: 280px;
	margin-left: 15px;
	margin-top: 15px;
}
.flecha_conoce {
	background-image: url(../img/flacha_conoce.png);
	background-repeat: no-repeat;
	height: 17px;
	width: 9px;
	position: absolute;
	top: 14px;
	right: -65px;
	z-index: 1000;
}
.flecha_form {
	background-image: url(../img/flacha_conoce.png);
	background-repeat: no-repeat;
	height: 17px;
	width: 9px;
	position: absolute;
	top: 14px;
	right: -64px;
	z-index: 1000;
}
 #tabs .img_sombra {
	border: 1px solid #FFF;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.25);
	clear: both;
	float: left;
}
.content_conocemas {
	clear: both;
	float: left;
	width: 490px;
	background-image: url(../img/dotted_line2.jpg);
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 20px;
	padding-top: 20px;
}
h4.quehacer {
	background-image: url("../img/ico_que-hacer.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-family: Avenir45BookRegular,arial;
    font-size: 16px;
    font-weight: normal;
    min-height: 30px;
    padding-left: 40px;
    padding-top: 8px;
    text-transform: uppercase;
    width: 205px;
}
 h4.tips {
	font-family: Avenir45BookRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 16px;
	color: #333333;
	background-image: url(../img/ico_tips.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	padding-left: 40px;
	text-transform: uppercase;
	min-height: 25px;
	padding-top: 8px;
	width: 205px;
}
.content_conocemas ul {
	background-image: url("../img/line_vertical.jpg");
    background-position: right center;
    background-repeat: repeat-y;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    padding-right: 20px;
    width: 200px;
}
.content_conocemas ul li {
	list-style-position: outside;
	list-style-image: url(../img/vineata2.png);
	font-family: helveticalight, arial;
	font-size: 11px;
	line-height: 14px;
	color: #474747;
	margin-bottom: 4px;
	padding-left: 10px;
}
.no-margin {
	margin-right: 0 !important;
	background-image: none !important;
}
.content_conocemas .min_imagenes {
	float: left;
	height: 72px;
	width: 72px;
	border: 1px solid #333;
	margin-right: 6px;
	margin-bottom: 6px;
}
#tabs .usuario {
	height: 72px;
	width: 72px;
	border: 1px solid #333;
	float: left;
	margin-left: 20px;
}
#tabs .tit_ususario {
	font-family: Avenir45BookRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 90px;
}
#tabs .fecha_img {
	color: #999;
	float: left;
	margin-left: 20px;
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 10px;
	width: 90px;
	margin-top: 4px;
}
.content_conocemas p {
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 15px;
	color: #474747;
	float: left;
	width: 315px;
	text-align: justify;
}
.Tit_1 {
	font-family: Avenir85HeavyRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 13px;
	text-transform: uppercase;
	color: #333333;
}
.text_incluye.style1 {
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 11px;
	color: #666;
}

div.alert div.errorSummary ul li{
    list-style:none;
    font-size: 11px;

}

.text_incluye.style2 {
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 12px;
        list-style: none;
	
}

.tit_form {
	font-family: Avenir85HeavyRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 20px;
	color: #383838;
	text-transform: uppercase;
	background-image: url(../img/vineata1.png);
	background-repeat: no-repeat;
	background-position: left 8px;
	float: left;
	padding-left: 15px;
	width: 350px
}
.tit_form span {
	font-family: Avenir45BookRegular, arial !important;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	}
.telefonos {
	float: left;
	width: 190px;
	position: absolute;
	top: 60px;
	right: 16px;
}
.content .formulario table {
	float: left;
}
.telefonos a {
	background-image: url(../img/bot_chateaaqui.jpg);
	background-repeat: no-repeat;
	height: 32px;
	width: 152px;
	float: left;
	margin-top: 14px;
	margin-left: 30px;
}
.bot_enviar {
	background-image: url(../img/bot_aceptar.png);
	background-repeat: no-repeat;
	float: left;
	height: 31px;
	width: 98px;
	color: #D27613;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
.bot_cancelar {
	background-image: url(../img/bot_cancelar.png);
	background-repeat: no-repeat;
	float: left;
	height: 29px;
	width: 98px;
	margin-right: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
	margin-left: 40px;
	color: #F0F0F0;
}
.asterisco {
	font-size: 14px !important;
	color: #666 !important;
	font-weight:normal  !important;
}
.bot_cerrar {
	background-image: url(../img/bot_cerrar.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 18px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.separador {
	height: 890px;
	width: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	position: absolute;
	top: 61px;
	right: 228px;
}
#featured2 {
	overflow: hidden;
}
.content .conoce_mas h2 {
	font-family: "Avenir85HeavyRegular", arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 20px;
	color: #383838;
	text-transform: uppercase;
	background-image: url(../img/vineata1.png);
	background-position: left 8px;
	padding-left: 15px;
	background-repeat: no-repeat;
	clear: both;
	float: left;
	width: 470px;
	margin-bottom: 20px;
}
.content .conoce_mas h2 span {
	font-family: Avenir45BookRegular, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
.galeria_info {
	clear: both;
	float: left;
	height: 400px;
	width: 491px;
}
.foto_gallery {
	clear: both;
	float: left;
	height: 326px;
	width: 489px;
	border: 1px solid #FFF;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.38);
	box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.38);
	margin: 2px;
	position: relative;
}
.gallery_miniaturas {
	float: left;
	height: 52px;
	width: 408px;
	background-image: url(../img/dotted_line2.jpg);
	background-repeat: repeat-x;
	clear: both;
	margin-top: 10px;
	position: relative;
	padding-right: 39px;
	padding-left: 45px;
	padding-top: 11px;
}
.flech_left_carrusel {
	background-image: url(../img/flecha_carrusel_left.png);
	background-repeat: no-repeat;
	height: 39px;
	width: 28px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.flecha_right_carrusel {
	background-image: url(../img/flecha_carrusel_right.png);
	background-repeat: no-repeat;
	height: 39px;
	width: 28px;
	position: absolute;
	top: 12px;
	right: 0px;
}
.gallery_miniaturas img {
	float: left;
	margin-right: 5px;
	border: 1px solid #FFF;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.38);
	box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.38);
}
.icos_info {
	background-image: url(../img/dotted_line2.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	float: right;
	width: 148px;
	margin-left: 20px;
	padding-top: 12px;
	overflow: hidden;
}
.icos_info .ico_clima {
	font-family: HelveticaBold, arial;
	font-size: 13px;
	color: #666666;
	background-image: url(../img/ico_clima.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	float: left;
	padding-left: 38px;
	padding-top: 10px;
	text-decoration: none;
	padding-bottom: 30px;
}
.icos_info .ico_moneda {
	font-family: HelveticaBold, arial;
	font-size: 13px;
	color: #666666;
	background-image: url(../img/ico_moneda.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	float: left;
	padding-left: 38px;
	padding-top: 10px;
	text-decoration: none;
	overflow: hidden;
	padding-bottom: 30px;
}
.icos_info .ico_idioma {
	font-family: HelveticaBold, arial;
	font-size: 13px;
	color: #666666;
	background-image: url(../img/ico_idioma.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	float: left;
	padding-left: 38px;
	padding-top: 10px;
	text-decoration: none;
	padding-bottom: 30px;
}
.iconos_informacion {
	/*_MW float: right;*/
	width: 168px;
	overflow: hidden;
}
.texto_home1 .tit_catalogo {
	font-family: CronosProSubheadBold, arial;
	font-size: 31px;
	text-transform: capitalize;
}
.tit_catalogo .tit_virtual {
	font-family: CronosProCaptionRegular, arial;
}
.textfield  {
	width: 135px;
	height: 20px;
}
.combo  {
	width: 139px;
	height: 26px;
}
#header_inner .miga_pan{
	font-family: CronosProCaptionRegular, arial;
	font-size: 13px;
	color: #FFF;
	float: left;
	margin-left: 135px;
	margin-top: 25px;
	line-height: 13px;
	text-decoration:none;
}
#header_inner .miga_pan1{
	color: #6bac45;
	line-height: 13px;
	background-image: url(../img/vineata1.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: CronosProCaptionRegular, arial;
	padding-left: 12px;
	margin-left: 4px;
	text-decoration:none;
}
.telefonos .compra_ya {
    font-family: Helvetica-BoldRegular, arial;
    color: #6bac45;
    font-size: 22px;
    line-height: 22px;
    background-image: url(../img/ico_telefono.png);
    background-repeat: no-repeat;
    background-position: left 4px;
    padding-left: 34px;
    float: left;
    padding-top: 8px;
    text-transform: uppercase;
    clear: both;
    padding-bottom: 8px;
}
.telefonos .llamando_al {
    font-family: HelveticaBold, arial;
    color: #666666;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    clear: both;
    margin-left: 36px;
    line-height: 11px;
    margin-top: -7px;
}
.telefonos .telefono1 {
    color: #6bac45;
    font-family: Helvetica-BoldRegular, arial;
    font-size: 34px;
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 32px;
}
.telefonos  .bogota {
font-family: Helvetica-BoldRegular, arial;
font-size: 12px;
color: #646464;
clear: both;
float: left;
margin-left: 32px;
text-transform: uppercase;
}
.telefonos .telefono2 {
clear: both;
float: left;
margin-left: 32px;
}
.telefonos .asesor {
clear: both;
float: left;
font-family: Helvetica-BoldRegular, arial;
font-size: 18px;
color: #333;
background-image: url(../img/ico_chat.png);
background-repeat: no-repeat;
background-position: left 4px;
padding-left: 32px;
padding-top: 8px;
margin-bottom: 10px;
margin-top: 20px;
padding-bottom: 4px;
text-transform: uppercase;
}
.telefonos p {
clear: both;
float: left;
margin-left: 32px;
width: 140px;
}
.telefonos .telefono2 {
font-family: Helvetica-BoldRegular, arial;
font-size: 20px;
color: #6bac45;
clear: both;
float: left;
margin-top: 16px;
}
.telefonos p {
font-family: HelveticaRoman, arial;
font-size: 12px;
color: #666;
}


.linea3 {
	background-image: url(../img/dotted_line2.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	clear: both;
	float: left;
	height: 1px;
	width: 185px;
	margin-left: 5px;
	margin-top: 25px;
}
.menu div {
	overflow: hidden;
}
.content1 .tit_plan_home {
	clear: both;
	float: left;
}

div.galeria_info div.ad-nav div.ad-back
{
  left: -20px;
  width: 13px;
  background-image: url(../img/flecha_carrusel_left.png);
}

div.galeria_info div.ad-nav div.ad-forward {
  right: -20px;
  width: 13px;
 background-image: url(../img/flecha_carrusel_right.png);
}



div#galleria_info
{
     width: 490px;
     height: 400px;
     background-image: url("../img/bg_content.png");

}
.alert.style2 {
	font-family: helveticalight, arial;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 18px;
        list-style: none;

}